@import './common/time.less';
@import './common/page_global.less';
@import './common/title_abs.less';
.button {
    position: absolute;
    left: 55px;
    top: 567px;
    width: 42.71%;
    height: 12.06%;
}
.img1 {
    position: absolute;
    left: 6px;
    top: 94px;
    width: 180px;
    height: 139px;
}

.img2 {
    position: absolute;
    left: 6px;
    top: 252px;
    width: 180px;
    height: 296px;
}