@import './common/time.less';
@import './common/page_global.less';
@import './common/title_abs.less';
@import './common/inputline.less';
@import './common/chip.less';

.options {
    position: absolute;
    left: 0px;
    top: 82px;
    width: 192px;
    height: 296px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    align-self: stretch;
    z-index: 1;
}

.chip1{
    /* 自动布局子元素 */
    position: static;
    z-index: 0;
}

.chip2{
    position: static;
    z-index: 1;
}

.chip3 {
    position: static;
    z-index: 3;
}

.chip4 {
    position: static;
    z-index: 2
}

.inputline1 {
    position: absolute;
    left: 0px;
    top: 0px;

}

.done_btn {
    position: absolute;
    left: 55px;
    top: 407px;
    width: 82px;
    height: 82px;
    background-image: url('../images/common/done@1x.png');
}