.container {
    width: 180px;
    height: 142px;
    border-radius: 26px;
    opacity: 1;
    /* gradient/card-gradient */
    background: linear-gradient(148deg, rgba(174, 203, 250, 0.3) -2%, rgba(218, 220, 224, 0.2) 158%);
};

